eprop-motor-control/__pycache__/*
# eprop-motor-control/sim_results/*
dataset_motor_training/__pycache__/*
nestml-neurons/nestml_target/*
nestml-neurons/report/*
testing-nestml-neurons/target/*
testing-nestml-neurons/__pycache__/*